# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variable files
.env
.env.local
.env.*.local

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Debug
*.swp

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage reports
coverage/
*.lcov

# Build outputs
dist/
build/

# MongoDB dump files
dump/

# Misc
*.tgz
*.bak
